body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    color: #2c3e50;
}

#header-utama {
    background-color: #BDB76B;
    padding: 20px;
    text-align: center;
}

#footer-bawah {
    background-color: #BDB76B;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    
}

.profil-section {
    display: flex; 
    gap: 40px;
}

.sidebar {
    flex: 1;
    text-align: center;
}

.konten-biodata {
    flex: 2;
}

.foto-profil {
    width: 250px;
    border: 8px solid #eeeeee;
    border-radius: 10px;
}

.garis-judul {
    border: none;
    height: 4px;
    background-color: #2c3e50;
    width: 150px;
    margin-left: 0;
}

.tabel-teman {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.tabel-teman th, .tabel-teman td {
    border: 1px solid #eeeeee;
    padding: 12px;
    text-align: center;
}

.tabel-teman th {
    background-color: #ecf0f1;
}

.row-highlight {
    background-color: #f9f9f9;
}

.kontak-section {
    background-color: #ecf0f1;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.form-card {
    background: white;
    border-radius: 3%;
    padding: 30px;
    width: 450px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box; 
}

.btn-kirim {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.btn-kirim:hover {
    background-color: #1abc9c;
}